# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a


megaphone
phonebook
zombie
zombiehorde
brain
weapon
violence
sedForLosers
sed4Losers
canonical
fixed
claptrap
scavtrap
fragtrap
diamondtrap
polymorphism
abstract
interface
1049_Yazyik_programmirovaniya_C++.pdf
1101_Algoritmyi_i_programmyi_Yazyik_Cpp.pdf
1115_Funktsionalnoe-programmirovanie-na-yazyike-C++.pdf
1319_C++-na-primerah.pdf
1442_Programmirovanie_na_yazyike_C+_+_prakticheskiy_kurs.pdf
1554_Krasivyiy_C++.pdf
progintro_dmkv3.pdf
./vscode
bureaucrat
form
form28B
home_shrubbery
